<template>
    <div>
        <h3 class="text-center">Add Post</h3>
        <div class="container" style="float:right">
           <div class="row" >
            <button @click="textButton" style="margin-right:50px;color:blue" type="button" class="btn btn-primary">Single Line Text</button>
            <button @click="textNumber" style="margin-right:50px;color:blue" type="button" class="btn btn-primary">Number</button>
           </div>
            <div class="row" style=" margin-top:50px;float:right">
            <button  @click="areaMethod" style="margin-right:50px;color:blue" type="button" class="btn btn-primary">TextArea</button>
            <button  @click="dateMethod" style="margin-right:50px ;color:blue" type="button" class="btn btn-primary">Date</button>
           </div>
        </div>
        
       
         
        <div class="row">
        
            <div class="col-md-6">
                <form @submit.prevent="addPost">
                    <div v-if="textField==1" class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="post.title">
                    </div>
                     <div v-if="numberField==1" class="form-group">
                        <label>Number</label>
                       <input type="number" class="form-control" v-model="post.number">
                    </div>
                    
                    <div  v-if="areaField==1" class="form-group">
                        <textarea  placeholder="Enter Description" rows="3" class="form-control" v-model="post.description"></textarea>
                    </div>
                      <div  v-if="dateField==1" class="form-group">
                        <label>Date</label>
                        <date-picker v-model="post.datetime" valueType="format"></date-picker>
                       </div>
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
 import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
    export default {
        components: { DatePicker },
        data() {
            return {
                textField:0,
                numberField:0,
                areaField:0,
                dateField:0,
                post: {
                    title:'',
                    number:'',
                    description:'',
                    datetime:null

                }
            }
        },
        methods: {
            textButton() {
                this.textField=1;
            },
            textNumber() {
                this.numberField=1;
            },
            areaMethod() {
                this.areaField=1;
            },
            dateMethod() {
                this.dateField=1;
            },
            addPost() {
 
                this.axios
                    .post('http://localhost:8000/api/post/add', this.post)
                    .then(response => (
                        this.$router.push({name: 'home'})
                        // console.log(response.data)
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>