<template>
    <div>
        <h3 class="text-center">Edit Post</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updatePost">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="post.title">
                    </div>
                    <div class="form-group">
                        <label>Number</label>
                       <input type="number" class="form-control" v-model="post.number">
                    </div>
                    <div class="form-group">
                        
                         <textarea  rows="3" class="form-control" v-model="post.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <date-picker v-model="post.datetime" valueType="format"></date-picker>
                       </div>
                    <button type="submit" class="btn btn-primary">Update Post</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
    export default {
         components: { DatePicker },
        data() {
            return {
                post: {
                      datetime:null,
                }
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/post/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.post = response.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updatePost() {
                this.axios
                    .post(`http://localhost:8000/api/post/update/${this.$route.params.id}`, this.post)
                    .then((response) => {
                        this.$router.push({name: 'home'});
                    });
            }
        }
    }
</script>